/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Background */
body {
  height: 100vh;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/3d4b0d42.jpg")
    no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

/* Dark overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(1px);
}

/* Login Box */
.login-box {
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.78);
  padding: 60px 50px;
  width: 350px;
  border-radius: 6px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.login-box h1 {
  margin-bottom: 25px;
  font-size: 30px;
}

/* Inputs */
.login-box input {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  background: #333;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 14px;
}

.login-box input::placeholder {
  color: #8c8c8c;
}

/* Button */
.login-box button {
  width: 100%;
  padding: 14px;
  background: #e50914;
  border: none;
  border-radius: 4px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.2s ease;
}

.login-box button:hover {
  background: #f6121d;
}

/* Options Row */
.options {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #b3b3b3;
  margin-top: 12px;
}

.options input {
  margin-right: 5px;
}

/* Signup Text */
.signup-text {
  margin-top: 30px;
  font-size: 14px;
  color: #b3b3b3;
}

.signup-text span {
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.signup-text span:hover {
  text-decoration: underline;
}
